.titolo{text-align: center;
        padding: 5%;
        font-size: clamp(3vw, 6vw, 9vw); 
        border: solid 10px black; 
        border-radius: 200px;background-color: rgb(124, 32, 32);}
        
#font {
    font-family: "Sigmar", serif;
    font-weight: 400;
    font-style: normal; 
    color: rgb(0, 0, 0);
    text-shadow: rgb(238, 235, 54) 12px 0 10px;
  }
  .parent{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center; /* Centra gli elementi nella griglia */
    gap: 20px;

  }
  .child{
    width: 300px;
    height: 400px;
    border: solid 3px black;
    
  }
  
